<div ng-controller="DashboardCtrl">
<div class="page-header">
    <a ng-show="canAdd" class="pull-right btn btn-primary" ng-click="addTask()"><i class="glyphicon glyphicon-plus"></i> Add task</a>
    <a ng-show="canAdd" class="pull-right btn btn-warning" ng-click="clear()"><i class="glyphicon glyphicon-trash"></i> Clear</a>
    <h1 style="display: inline-block; width: 200px;">Task table</h1>
</div>
<div gridster="gridsterOptions">
    <ul>
        <li gridster-item="task" ng-repeat="task in dashboard.tasks">
            <div class="box" ng-controller="CustomWidgetCtrl">
                <div class="box-header">
                    <h3>{{ task.title }}</h3>
                    <div class="box-header-btns pull-right">
                        <a title="settings" ng-click="openSettings(task)"><i class="glyphicon glyphicon-cog"></i></a>
                        <a ng-show="canDelete" title="Remove task" ng-click="remove(task)"><i class="glyphicon glyphicon-trash"></i></a>
                    </div>
                </div>
                <div class="box-content">

                </div>
            </div>
        </li>
    </ul>
</div>
</div>