
<div data-admin-utc-offset="0" class="login">

<div id="container">
    <div id="header">
        <div id="branding">
			<h1 id="site-name">Task tracker</h1>
        </div>
    </div>

    <div class="colM" id="content">
		<div id="content-main">
			<form ng-controller="LoginController" id="login-form" method="post" ><input type="hidden" value="2YsZPpsMk5tsn2d6zMoRc5Fix6VbRtUk" name="csrfmiddlewaretoken">
  				<div class="form-row">
    				<input placeholder="Login" type="text" name="username" maxlength="254" id="id_username" ng-model="username">
  				</div>
  				<div class="form-row">
    				<input placeholder="Password" type="password" name="password" id="id_password" ng-model="password">
  				</div>
  				<div class="submit-row">
    				<input value="Log in" type="button" ng-click="login()">
					<label>&nbsp;</label><input value="Get started" type="button" ng-click="register()">
  				</div>
				<br/>
				<div ng-show="alert.msg">
					<alert type="{{alert.type}}" close="closeAlert()">{{ alert.msg }}</alert>
				</div>
			</form>
			<script type="text/javascript">
				document.getElementById('id_username').focus()
			</script>
		</div>
        <br class="clear">
    </div>
    <div id="footer"></div>
</div>
</div>
