<div>
    <form name="_form" class="form-horizontal" ng-submit="submit(_form)">
        <div class="modal-header">
            <button type="button" class="close" ng-click="dismiss()" aria-hidden="true">&times;</button>
            <h3>Task details</h3>
        </div>

        <div class="modal-body">
            <div class="form-group" ng-class="{error: _form.title.$error && _form.submitted}">
                <label class="control-label col-lg-3 col-md-3">Title</label>
                <div class="col-lg-9 col-md-9">
                    <input name="name" type="text" ng-model="form.title" class="form-control" />
                </div>
            </div>
            <div class="form-group" ng-class="{error: _form.description.$error && _form.submitted}">
                <label class="control-label col-lg-3 col-md-3">Description</label>
                <div class="col-lg-9 col-md-9">
                    <textarea name="name" ng-model="form.description" class="form-control" />
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <a ng-show="canDelete" ng-click="remove()" class="btn btn-danger pull-left" tabindex="-1"><i class="glyphicon glyphicon-trash"></i>Delete</a>
            <a ng-click="dismiss()" class="btn btn-default" tabindex="-1"><i class="glyphicon glyphicon-remove"></i>Cancel</a>
            <button ng-show="canAdd" type="submit" class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-ok"></i>Save</button>
        </div>
    </form>
</div>
