{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="{{ static_path }}css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{{ static_path }}css/angular-gridster.min.css"/>
    <link rel="stylesheet" href="{{ static_path }}css/style.css"/>
    <link rel="stylesheet" href="{{ static_path }}css/dashboard_style.css"/>
    <link href="/static/admin/css/base.css" type="text/css" rel="stylesheet">
    <link href="/static/admin/css/login.css" type="text/css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.css" rel="stylesheet">

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="{{ static_path }}js/vendor/underscore.js"></script>
    <script type="text/javascript" src="{{ static_path }}js/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ static_path }}js/vendor/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-cookies.js"></script>
    <!--<script type="text/javascript" src="{{ static_path }}js/vendor/angular-cookies.min.js"></script>-->
    <script type="text/javascript" src="{{ static_path }}js/vendor/angular-route.min.js"></script>
    <script type="text/javascript" src="{{ static_path }}js/vendor/angular-resource.min.js"></script>
    <script type="text/javascript" src="{{ static_path }}js/vendor/autofill-event.js"></script>
    <script type="text/javascript" src="{{ static_path }}js/vendor/ui-bootstrap-tpls-0.12.1.min.js"></script>
    <script type="text/javascript" src="{{ static_path }}js/vendor/angular-gridster.js"></script>

    <script type="text/javascript" src="{{ static_path }}js/app.js"></script>
</head>
<body ng-app="app">
    <div class="container" ng-view></div>
</body>
</html>